html {
	--primary-dark: rgba(60, 70, 83, 1); /*charcoal*/
	--primary-light: rgba(255, 252, 247, 1); /*baby-powder*/
	--primary-color: rgba(105, 133, 106, 1); /*reseda-green*/
	--secondary-color: rgba(180, 142, 174, 1); /*lilac*/

	font-size: 10px;
	font-family: Arial;
	background: var(--primary-light);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0 auto;
	max-width: 100rem;
}

a {
	color: var(--primary-dark);
	text-decoration: none;
	border-bottom: 0.2rem solid transparent;
	transition: border-color 0.4s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a:visited {
	color: var(--primary-dark);
}

li {
	list-style-type: none;
	font-size: 2rem;
}

h1 {
	margin: 10px;
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}

p {
	font-size: 2rem;
}
button:hover {
	cursor: pointer;
}
.buttonReset {
	font: 2rem var(--primary-font);
	border: 0 none;
	background: none;
}

.buttonReset:hover {
	opacity: 1;
}

.navWrapper a {
	display: inline-block;
	color: var(--primary-light);
	padding: 1rem 2rem;
	font-size: 2rem;
	font-family: Arial;
	font-weight: 700;
	border-bottom: 0.5rem solid transparent;
	transition: all 0.2s;
}
.navWrapper a:hover {
	color: var(--primary-dark);
	border-color: var(--primary-dark);
	cursor: pointer;
}
